* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #F3F5FC;
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
}

body {
    width: 100%;
    min-height: 100vh;
}

main {
    display: flex;
    height: 799px;
}

.section1 {
    flex: 2;
}

.section2 {
    flex: 1.5;
}


.text-area {
    border: none;
    color: #0A3871;
    padding-left: 1rem;
    margin-top: 1.5rem;
    text-transform: lowercase;
    width: 60%;
    height: 70%;
    margin-left: 32%;
    resize: none
}

::placeholder {color: #0A3871;}
    .text-area:focus {
        outline: none;
    }

.mensaje {
    background: white;
    background-image: url(/Muñeco.png);
    background-position: bottom 60% right 50%;
    background-repeat: no-repeat;
    border: none;
    color: #0A3871;
    border-radius: 32px;
    box-shadow: 6px 6px 35px 0px rgba(133,133,133,1);
    padding-left: 0.5rem;
    padding-top: 1rem;
    width: 12rem;
    height: 26rem;
    top: 5%;
    position: absolute;
    z-index: 1;
    resize: none
}

.mensaje:focus {
    outline: none;
}



.logo {
    width: Fixed (120px)px;
    height: Fixed (48px)px;
    margin-top: 0.3rem;
    margin-left: 3rem;
}


.ningun {
    background-color: transparent;
    font-weight: bold;
    font-size: 0.8rem;
    width: 8rem;
    text-align: center;
    line-height: 1rem;
    position: relative;
    left: 2rem;
    top: 17rem;
    z-index: 1;
}

.botones {
    margin-left: 28%;
    margin-top: 0;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.btn-encriptar {
    background: #0A3871;
    color: white;
    border: 1px solid #D8DFE8;
    border-radius: 24px;
    cursor: pointer;
    height: 2rem;
    width: 10rem;
    font-size: 0.7rem;
}

.btn-desencriptar {
    background: #D8DFE8;
    color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    cursor: pointer;
    height: 2rem;
    width: 10rem;
    font-size: 0.7rem;
}


.copiar {
    background: #D8DFE8;
    color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    cursor: pointer;
    height: 2rem;
    width: 10rem;
    font-size: 0.7rem;
    position: relative;
    left: 1rem;
    top: 19.5rem;
    z-index: 0;
}

.informacion {
    padding-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 0;
    margin-left: 32%;
    color: #495057;
    font-size: 0.5rem;
}

.copy {
    color: black;
    font-size: 0.5rem;
    padding-left: 19rem;
}

.informacion::before {
    content: "♥ ";
  }

  /*Diseño responsive*/

  @media (max-width: 1200px) {
    main {
        display: block;
    }

    .logo {
        margin-left: 0;
        margin-top: 2rem;
    }
    .section1 {
        display: block;
        height: 38rem;
    }

    .section2 {
        display: block;
    }
    .text-area {
        
        margin-left: 1%;
        margin-top: 3rem;
        font-size: 1.5rem;
        width: 95%;
        height: 77%;
    }

    .botones {
        position: relative;
        justify-content: space-evenly;
        margin: 0;
    }

    .btn-encriptar {
        height: 2.8rem;
        width: 15rem;
        border-radius: 1rem;
    }

    .btn-desencriptar {
        height: 2.8rem;
        width: 15rem;
        border-radius: 1rem;
    }

    .informacion {
        margin: 0 0 0.4rem 0;
        padding-left: 1.7rem;
        font-size: 0.8rem;
    }

    .mensaje {
        width: 90%;
        margin-left: 5%;
        position: relative;
        background-image: none;

    }
  }